.custom-indicator {
    bottom: -60px;
}
.custom-indicator ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}
.custom-indicator li {
    width: 50px;
    height:50px;
}

@media screen and (min-width: 640px) {
.custom-indicator li {
    width: 80px;
    height: 80px;
    }
.custom-indicator {
    bottom: -90px;
    }
}
@media screen and (min-width: 1024px) {
.custom-indicator li {
    width: 65px;
    height: 65px;
    }.custom-indicator {
    bottom: -100px;
    }}
@media screen and (min-width: 1536px) {
.custom-indicator li {
    width: 99px;
    height: 99px;
            }
    
.custom-indicator {
    bottom: -110px;
            }
        }